@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,200&display=swap');

$margin-side: 20px;
$breakpoint-monitor: 1201px;
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;

.containerProfile{
    width: 100vW;
    height: 100vH;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;

    @media(min-width: $breakpoint-tablet){
        background-color: #F8FAFB;
    }
}
.containerMain{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(min-width: $breakpoint-tablet){
        width: 65%;
        margin-top: $margin-side;
        background-color: white;
    }
}
.containerUserName{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.containerClasses{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-top: $margin-side;
}
.containerAbProj{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #F7F9FA;

    @media(min-width: $breakpoint-tablet){
        flex-direction: column;
        border-right: 1px solid #CECECE;
        background-color: white;
        height: 100%;
        width: 50%;
    }
}
.containerbioDesc{
    width: 80%;
    margin-top: 100px;
}
.containerInfos{
    width: 80%;
}
.containerInfosLabels{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(min-width: $breakpoint-tablet){
        display: none;
    }
}
.containerLocation{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.containerLocation p{
    font-family: 'Montserrat', sans-serif;
    color: #162668;
    margin-left: 5px;
}
.containerAbout{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.containerProjects{
    display: none !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.containerSubInfos{
    @media(min-width: $breakpoint-tablet){
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
}
.containerImgInfos{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    @media(max-width: $breakpoint-tablet){
        display: none;
    }
}
.header{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: flex-start;

    @media(min-width: $breakpoint-tablet){
        justify-content: flex-start;
    }
}
.imgback{
    width: 100%;
    height: 80%;
    position: relative;

    @media(min-width: $breakpoint-tablet){
        display: none;
    }
}
.imgProfile{
    background-color: red;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    margin-top: 25%;

    @media(min-width: $breakpoint-tablet){
        margin-top: 0px;
        margin-left: $margin-side;
        position: relative;
    }
    @media(min-width: $breakpoint-desktop){
        width: 120px;
        height: 120px;
    }
}
.imgProfileMobile{
    background-color: red;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    margin-top: 25%;
    @media(min-width: $breakpoint-tablet){
        display: none;
    }
}
.imgbackBig{
    width: 100%;
    height: 100%;
    @media(max-width: $breakpoint-tablet){
        display: none;
    }
}
.tlbProfile{
    width: 90%;
    @media(min-width: $breakpoint-tablet){
        width: 100%;
    }
}
.containerUserName p{
    margin-left: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    @media(max-width: $breakpoint-desktop){
        font-size: 13px;
    }
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item p{
    font-family: 'Montserrat', sans-serif;
    color: #162668;
    font-size: 18px;

    @media(max-width: $breakpoint-desktop){
        font-size: 13px;
    }
}
.iconNum{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.iconNum p{
    margin-left: 5px;

    @media(max-width: $breakpoint-desktop){
        font-size: 13px;
    }
}
.abProjHalf{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media(min-width: $breakpoint-tablet){
        background-color: #F7F9FA;
        width: 100%;
    }
}
.abProjHalf:active{
    border-bottom: 3px solid #5C97D2;
}
.dividerProfile{
    height: 100%;
    width: 1px;
    background-color: #90A4AE;

    @media(min-width: $breakpoint-tablet){
        background-color: black;
        height: 1px ;
        width: 100%;
    }
}
.containerbioDesc p{
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    color: #162668;
}
.projectItem{
    width: 80%;
}
.containerTextProject{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
}
.projectItem h3{
    color: #0366D6;
    font-family: 'Montserrat', sans-serif;
}
.projectItem p{
    color: #586069;
    font-family: 'Montserrat', sans-serif;
}
.containerDeskInfos h3{
    @media(max-width: $breakpoint-desktop){
        font-size: 25px !important;
    }
}
#labelProfile{
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 0px;
}